<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Diplomata+SC">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="javascript/script.js"></script>
    <h1>CAMPAIGN FINANCE</h1>
  </head>
  <body>
    <div class="money-title">MONEY IN POLITICS:</div>
    <div class="money-number">$1,000,000,000</div>
   <p><div class="candidates">{{{body}}}</div></p>
   <button type="button" id="button-1">Visualization 1</button>
   <button type="button" id="button-2">Visualization 2</button>
   <button type="button" id="button-3">Visualization 3</button>
   <div class="faces">
   <img src="http://i.imgur.com/3fPznJm.png" id="hillary">
   <img src="http://i.imgur.com/q51jBgb.png" id="bernie">
   <img src="http://i.imgur.com/ZIFXVMh.png" id="donald">
   <img src="http://i.imgur.com/EyfKSRt.png" id="marco">
   <img src="http://i.imgur.com/IHHWrFM.png" id="ted"></div>
   <div class="financials">
     cash on hand
     <p>total reciepts</p>
     <p>more numbers</p>
     <p>additional numbers</p>
   </div>
  </body>
</html>
