<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Diplomata+SC">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <meta charset="utf-8">
    <script src="javascript/d3.v3.js"></script>
    <script src="javascript/d3.js"></script>
    <script src="javascript/script.js"></script>
    <h1>CAMPAIGN FINANCE</h1>
  </head>
  <body>
    <div class="money-title">MONEY IN POLITICS:</div>
    <div class="money-number">$1,000,000,000</div>
   <!-- <p>
     <div class="candidates">{{{body}}}</div>
   </p> -->

   <div class="faces">
   <img src="http://i.imgur.com/3fPznJm.png" id="hillary">
   <img src="http://i.imgur.com/q51jBgb.png" id="bernie">
   <img src="http://i.imgur.com/ZIFXVMh.png" id="donald">
   <img src="http://i.imgur.com/EyfKSRt.png" id="marco">
   <img src="http://i.imgur.com/IHHWrFM.png" id="ted"></div>
   <div class="financials">
     cash on hand
     <p>total reciepts</p>
     <p>more numbers</p>
     <p>additional numbers</p>
   </div>
   <br><p><button type="button" class="button" id="button-1">visualization</button>
   <button type="button" class="button" id="button-2">visualization</button>
   <button type="button" class="button" id="button-3">visualization</button></p>
   <img src="http://images.all-free-download.com/images/graphiclarge/jp_draws_us_flag_clip_art_14610.jpg" id="flag">
   <img src="http://i.imgur.com/0ToNnON.png" class="animals" id="elephant">
   <img src="http://i.imgur.com/T9vl8ZX.png" class="animals" id="donkey">
   <img src="http://images.all-free-download.com/images/graphiclarge/jp_draws_us_flag_clip_art_14610.jpg" id="flag-2">
   <script>


document.getElementById("button-1").onclick=function(){
  d3.select("body")
    .data(dataset)
    .enter()
    .append("svg")
    .append("circle")
    .attr("cx", 1)
    .attr("cy", 1)
    .attr("r", 1)
    .style("fill", "purple")
    .style("cx", function(d) {
    return d})
    .style("cy", function(d) {
    return d})
    .style("r", function(d) {
    return d
  })
}

   </script>
  </body>
</html>
